.sectionRoot {
  display: flex;
  width: 100%;
  height: 100%;
}

.sectionRoot img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.4;
  transition: 0.5s ease;
}

.sectionRoot img:hover {
  cursor: crosshair;
  width: 450px;
  opacity: 1;
  /* filter: contrast(120%); */
}
